In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("electoral2015_tour1.xlsx")

In [3]:
data.head()

,Date de l'export,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,...,% Voix/Ins.11,% Voix/Exp.11,N°Liste.12,Nuance Liste.12,Libellé Abrégé Liste.12,Libellé Etendu Liste.12,Nom Tête de Liste.12,Voix.12,% Voix/Ins.12,% Voix/Exp.12
0,2016-01-21 08:37:51,1,AIN,1,L'Abergement-Clémenciat,584,261,44.69,323,55.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-21 08:37:51,1,AIN,2,L'Abergement-de-Varey,224,93,41.52,131,58.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-21 08:37:51,1,AIN,4,Ambérieu-en-Bugey,8149,4347,53.34,3802,46.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-21 08:37:51,1,AIN,5,Ambérieux-en-Dombes,1168,610,52.23,558,47.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-21 08:37:51,1,AIN,6,Ambléon,107,53,49.53,54,50.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(36634, 123)

In [5]:
col_title_unicode = data.columns.values.tolist()
col_title_unicode

[u"Date de l'export",
 u'Code du d\xe9partement',
 u'Libell\xe9 du d\xe9partement',
 u'Code de la commune',
 u'Libell\xe9 de la commune',
 u'Inscrits',
 u'Abstentions',
 u'% Abs/Ins',
 u'Votants',
 u'% Vot/Ins',
 u'Blancs',
 u'% Blancs/Ins',
 u'% Blancs/Vot',
 u'Nuls',
 u'% Nuls/Ins',
 u'% Nuls/Vot',
 u'Exprim\xe9s',
 u'% Exp/Ins',
 u'% Exp/Vot',
 u'N\xb0Liste',
 u'Nuance Liste',
 u'Libell\xe9 Abr\xe9g\xe9 Liste',
 u'Libell\xe9 Etendu Liste',
 u'Nom T\xeate de Liste',
 u'Voix',
 u'% Voix/Ins',
 u'% Voix/Exp',
 u'N\xb0Liste.1',
 u'Nuance Liste.1',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.1',
 u'Libell\xe9 Etendu Liste.1',
 u'Nom T\xeate de Liste.1',
 u'Voix.1',
 u'% Voix/Ins.1',
 u'% Voix/Exp.1',
 u'N\xb0Liste.2',
 u'Nuance Liste.2',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.2',
 u'Libell\xe9 Etendu Liste.2',
 u'Nom T\xeate de Liste.2',
 u'Voix.2',
 u'% Voix/Ins.2',
 u'% Voix/Exp.2',
 u'N\xb0Liste.3',
 u'Nuance Liste.3',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.3',
 u'Libell\xe9 Etendu Liste.3',
 u'Nom T\xeate de Liste.3',
 u'Voix.3',
 u'% Voix/Ins.3',
 u'% Voix/Exp.3',
 u'N\xb0Liste.4',
 u'Nuance Liste.4',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.4',
 u'Libell\xe9 Etendu Liste.4',
 u'Nom T\xeate de Liste.4',
 u'Voix.4',
 u'% Voix/Ins.4',
 u'% Voix/Exp.4',
 u'N\xb0Liste.5',
 u'Nuance Liste.5',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.5',
 u'Libell\xe9 Etendu Liste.5',
 u'Nom T\xeate de Liste.5',
 u'Voix.5',
 u'% Voix/Ins.5',
 u'% Voix/Exp.5',
 u'N\xb0Liste.6',
 u'Nuance Liste.6',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.6',
 u'Libell\xe9 Etendu Liste.6',
 u'Nom T\xeate de Liste.6',
 u'Voix.6',
 u'% Voix/Ins.6',
 u'% Voix/Exp.6',
 u'N\xb0Liste.7',
 u'Nuance Liste.7',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.7',
 u'Libell\xe9 Etendu Liste.7',
 u'Nom T\xeate de Liste.7',
 u'Voix.7',
 u'% Voix/Ins.7',
 u'% Voix/Exp.7',
 u'N\xb0Liste.8',
 u'Nuance Liste.8',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.8',
 u'Libell\xe9 Etendu Liste.8',
 u'Nom T\xeate de Liste.8',
 u'Voix.8',
 u'% Voix/Ins.8',
 u'% Voix/Exp.8',
 u'N\xb0Liste.9',
 u'Nuance Liste.9',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.9',
 u'Libell\xe9 Etendu Liste.9',
 u'Nom T\xeate de Liste.9',
 u'Voix.9',
 u'% Voix/Ins.9',
 u'% Voix/Exp.9',
 u'N\xb0Liste.10',
 u'Nuance Liste.10',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.10',
 u'Libell\xe9 Etendu Liste.10',
 u'Nom T\xeate de Liste.10',
 u'Voix.10',
 u'% Voix/Ins.10',
 u'% Voix/Exp.10',
 u'N\xb0Liste.11',
 u'Nuance Liste.11',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.11',
 u'Libell\xe9 Etendu Liste.11',
 u'Nom T\xeate de Liste.11',
 u'Voix.11',
 u'% Voix/Ins.11',
 u'% Voix/Exp.11',
 u'N\xb0Liste.12',
 u'Nuance Liste.12',
 u'Libell\xe9 Abr\xe9g\xe9 Liste.12',
 u'Libell\xe9 Etendu Liste.12',
 u'Nom T\xeate de Liste.12',
 u'Voix.12',
 u'% Voix/Ins.12',
 u'% Voix/Exp.12']

### We see that the data is in Unicode format, which will cause some trouble later. We will try to convert it to string.

In [6]:
import unicodedata

def unicode_to_string(word):
    if pd.isnull(word):
        return 
    else:
        return unicodedata.normalize('NFKD', word).encode('ascii','ignore')

In [7]:
col_title = map(unicode_to_string,col_title_unicode)

In [8]:
col_title

["Date de l'export",
 'Code du departement',
 'Libelle du departement',
 'Code de la commune',
 'Libelle de la commune',
 'Inscrits',
 'Abstentions',
 '% Abs/Ins',
 'Votants',
 '% Vot/Ins',
 'Blancs',
 '% Blancs/Ins',
 '% Blancs/Vot',
 'Nuls',
 '% Nuls/Ins',
 '% Nuls/Vot',
 'Exprimes',
 '% Exp/Ins',
 '% Exp/Vot',
 'NListe',
 'Nuance Liste',
 'Libelle Abrege Liste',
 'Libelle Etendu Liste',
 'Nom Tete de Liste',
 'Voix',
 '% Voix/Ins',
 '% Voix/Exp',
 'NListe.1',
 'Nuance Liste.1',
 'Libelle Abrege Liste.1',
 'Libelle Etendu Liste.1',
 'Nom Tete de Liste.1',
 'Voix.1',
 '% Voix/Ins.1',
 '% Voix/Exp.1',
 'NListe.2',
 'Nuance Liste.2',
 'Libelle Abrege Liste.2',
 'Libelle Etendu Liste.2',
 'Nom Tete de Liste.2',
 'Voix.2',
 '% Voix/Ins.2',
 '% Voix/Exp.2',
 'NListe.3',
 'Nuance Liste.3',
 'Libelle Abrege Liste.3',
 'Libelle Etendu Liste.3',
 'Nom Tete de Liste.3',
 'Voix.3',
 '% Voix/Ins.3',
 '% Voix/Exp.3',
 'NListe.4',
 'Nuance Liste.4',
 'Libelle Abrege Liste.4',
 'Libelle Etendu Liste.4',
 'Nom Tete de Liste.4',
 'Voix.4',
 '% Voix/Ins.4',
 '% Voix/Exp.4',
 'NListe.5',
 'Nuance Liste.5',
 'Libelle Abrege Liste.5',
 'Libelle Etendu Liste.5',
 'Nom Tete de Liste.5',
 'Voix.5',
 '% Voix/Ins.5',
 '% Voix/Exp.5',
 'NListe.6',
 'Nuance Liste.6',
 'Libelle Abrege Liste.6',
 'Libelle Etendu Liste.6',
 'Nom Tete de Liste.6',
 'Voix.6',
 '% Voix/Ins.6',
 '% Voix/Exp.6',
 'NListe.7',
 'Nuance Liste.7',
 'Libelle Abrege Liste.7',
 'Libelle Etendu Liste.7',
 'Nom Tete de Liste.7',
 'Voix.7',
 '% Voix/Ins.7',
 '% Voix/Exp.7',
 'NListe.8',
 'Nuance Liste.8',
 'Libelle Abrege Liste.8',
 'Libelle Etendu Liste.8',
 'Nom Tete de Liste.8',
 'Voix.8',
 '% Voix/Ins.8',
 '% Voix/Exp.8',
 'NListe.9',
 'Nuance Liste.9',
 'Libelle Abrege Liste.9',
 'Libelle Etendu Liste.9',
 'Nom Tete de Liste.9',
 'Voix.9',
 '% Voix/Ins.9',
 '% Voix/Exp.9',
 'NListe.10',
 'Nuance Liste.10',
 'Libelle Abrege Liste.10',
 'Libelle Etendu Liste.10',
 'Nom Tete de Liste.10',
 'Voix.10',
 '% Voix/Ins.10',
 '% Voix/Exp.10',
 'NListe.11',
 'Nuance Liste.11',
 'Libelle Abrege Liste.11',
 'Libelle Etendu Liste.11',
 'Nom Tete de Liste.11',
 'Voix.11',
 '% Voix/Ins.11',
 '% Voix/Exp.11',
 'NListe.12',
 'Nuance Liste.12',
 'Libelle Abrege Liste.12',
 'Libelle Etendu Liste.12',
 'Nom Tete de Liste.12',
 'Voix.12',
 '% Voix/Ins.12',
 '% Voix/Exp.12']

### We replace the column head by new string-format

In [9]:
data.columns = col_title

In [10]:
data.columns.values.tolist()

["Date de l'export",
 'Code du departement',
 'Libelle du departement',
 'Code de la commune',
 'Libelle de la commune',
 'Inscrits',
 'Abstentions',
 '% Abs/Ins',
 'Votants',
 '% Vot/Ins',
 'Blancs',
 '% Blancs/Ins',
 '% Blancs/Vot',
 'Nuls',
 '% Nuls/Ins',
 '% Nuls/Vot',
 'Exprimes',
 '% Exp/Ins',
 '% Exp/Vot',
 'NListe',
 'Nuance Liste',
 'Libelle Abrege Liste',
 'Libelle Etendu Liste',
 'Nom Tete de Liste',
 'Voix',
 '% Voix/Ins',
 '% Voix/Exp',
 'NListe.1',
 'Nuance Liste.1',
 'Libelle Abrege Liste.1',
 'Libelle Etendu Liste.1',
 'Nom Tete de Liste.1',
 'Voix.1',
 '% Voix/Ins.1',
 '% Voix/Exp.1',
 'NListe.2',
 'Nuance Liste.2',
 'Libelle Abrege Liste.2',
 'Libelle Etendu Liste.2',
 'Nom Tete de Liste.2',
 'Voix.2',
 '% Voix/Ins.2',
 '% Voix/Exp.2',
 'NListe.3',
 'Nuance Liste.3',
 'Libelle Abrege Liste.3',
 'Libelle Etendu Liste.3',
 'Nom Tete de Liste.3',
 'Voix.3',
 '% Voix/Ins.3',
 '% Voix/Exp.3',
 'NListe.4',
 'Nuance Liste.4',
 'Libelle Abrege Liste.4',
 'Libelle Etendu Liste.4',
 'Nom Tete de Liste.4',
 'Voix.4',
 '% Voix/Ins.4',
 '% Voix/Exp.4',
 'NListe.5',
 'Nuance Liste.5',
 'Libelle Abrege Liste.5',
 'Libelle Etendu Liste.5',
 'Nom Tete de Liste.5',
 'Voix.5',
 '% Voix/Ins.5',
 '% Voix/Exp.5',
 'NListe.6',
 'Nuance Liste.6',
 'Libelle Abrege Liste.6',
 'Libelle Etendu Liste.6',
 'Nom Tete de Liste.6',
 'Voix.6',
 '% Voix/Ins.6',
 '% Voix/Exp.6',
 'NListe.7',
 'Nuance Liste.7',
 'Libelle Abrege Liste.7',
 'Libelle Etendu Liste.7',
 'Nom Tete de Liste.7',
 'Voix.7',
 '% Voix/Ins.7',
 '% Voix/Exp.7',
 'NListe.8',
 'Nuance Liste.8',
 'Libelle Abrege Liste.8',
 'Libelle Etendu Liste.8',
 'Nom Tete de Liste.8',
 'Voix.8',
 '% Voix/Ins.8',
 '% Voix/Exp.8',
 'NListe.9',
 'Nuance Liste.9',
 'Libelle Abrege Liste.9',
 'Libelle Etendu Liste.9',
 'Nom Tete de Liste.9',
 'Voix.9',
 '% Voix/Ins.9',
 '% Voix/Exp.9',
 'NListe.10',
 'Nuance Liste.10',
 'Libelle Abrege Liste.10',
 'Libelle Etendu Liste.10',
 'Nom Tete de Liste.10',
 'Voix.10',
 '% Voix/Ins.10',
 '% Voix/Exp.10',
 'NListe.11',
 'Nuance Liste.11',
 'Libelle Abrege Liste.11',
 'Libelle Etendu Liste.11',
 'Nom Tete de Liste.11',
 'Voix.11',
 '% Voix/Ins.11',
 '% Voix/Exp.11',
 'NListe.12',
 'Nuance Liste.12',
 'Libelle Abrege Liste.12',
 'Libelle Etendu Liste.12',
 'Nom Tete de Liste.12',
 'Voix.12',
 '% Voix/Ins.12',
 '% Voix/Exp.12']

In [11]:
type(data['Nom Tete de Liste'][0]) == unicode

True

###  We see that not only the column header but all the text-format cells in the dataset are in unicode. We will now convert all to string.

In [12]:
def data_to_string(data):
    new_data = data.copy()
    for col in new_data.columns:
        not_nan_index = [not ind for ind in new_data[col].isnull()]
        not_nan_value = new_data[col][not_nan_index]
        if type(not_nan_value.iloc[0]) == unicode: #check the first not-NaN value
            new_data[col] = map(unicode_to_string,new_data[col])
    return new_data

In [13]:
data = data_to_string(data)

### Check if there are NaN values in Numeric columns

In [14]:
def check_nan_in_numeric(data):
    new_data = data.copy()
    for col in new_data.columns:
        not_nan_index = [not ind for ind in new_data[col].isnull()]
        not_nan_value = new_data[col][not_nan_index]
        if type(not_nan_value.iloc[0]) is not str : #check the first not-NaN value to eliminate all string column
            if new_data[col].isnull().any(): 
                print col

In [15]:
check_nan_in_numeric(data)

NListe.8
Voix.8
% Voix/Ins.8
% Voix/Exp.8
NListe.9
Voix.9
% Voix/Ins.9
% Voix/Exp.9
NListe.10
Voix.10
% Voix/Ins.10
% Voix/Exp.10
NListe.11
Voix.11
% Voix/Ins.11
% Voix/Exp.11
NListe.12
Voix.12
% Voix/Ins.12
% Voix/Exp.12

### The problem here is that the number of parties is not the same in all communities: most of them have 8 parties, but some of them have more than 8. 
### Therefore, before checking for NaN value, we need to re-organize the data.
### We will create a new dataframe that has only 1 voting result per row.
### We start by adding a new column in the original dataset: Code Insee. We will use this as our pivot column.

In [16]:
data.head(2)

,Date de l'export,Code du departement,Libelle du departement,Code de la commune,Libelle de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,...,% Voix/Ins.11,% Voix/Exp.11,NListe.12,Nuance Liste.12,Libelle Abrege Liste.12,Libelle Etendu Liste.12,Nom Tete de Liste.12,Voix.12,% Voix/Ins.12,% Voix/Exp.12
0,2016-01-21 08:37:51,1,AIN,1,L'Abergement-Clemenciat,584,261,44.69,323,55.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-21 08:37:51,1,AIN,2,L'Abergement-de-Varey,224,93,41.52,131,58.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
def add_insee_code(data):
    new_data = data.copy()
    insee_code = []
    for x in xrange(len(new_data)):
        if new_data['Code du departement'][x] < 100:
            code = new_data['Code du departement'][x]*1000 + new_data['Code de la commune'][x]
        else:
            code = (new_data['Code du departement'][x]/10)*1000 + new_data['Code de la commune'][x]
        insee_code.append(code)
    new_data['Code Insee'] = insee_code
    cols = new_data.columns.tolist()
    cols = cols[-1:] + cols[:-1] # we move the new variable to the first column of our dataframe
    new_data = new_data[cols]
    return new_data

In [18]:
data = add_insee_code(data)

In [19]:
data.tail()

,Code Insee,Date de l'export,Code du departement,Libelle du departement,Code de la commune,Libelle de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,...,% Voix/Ins.11,% Voix/Exp.11,NListe.12,Nuance Liste.12,Libelle Abrege Liste.12,Libelle Etendu Liste.12,Nom Tete de Liste.12,Voix.12,% Voix/Ins.12,% Voix/Exp.12
36629,97420,2016-01-21 08:49:34,974,LA REUNION,420,Sainte-Suzanne,17257,9818,56.89,7439,...,0.72,1.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36630,97421,2016-01-21 08:49:34,974,LA REUNION,421,Salazie,5894,3144,53.34,2750,...,0.81,1.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36631,97422,2016-01-21 08:49:34,974,LA REUNION,422,Le Tampon,61419,30817,50.18,30602,...,1.36,2.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36632,97423,2016-01-21 08:49:34,974,LA REUNION,423,Les Trois-Bassins,5999,3094,51.58,2905,...,0.70,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36633,97424,2016-01-21 08:49:34,974,LA REUNION,424,Cilaos,5012,2677,53.41,2335,...,0.66,1.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### (NB: we had to manually modify some departement codes like those of Corse, Reunion, Martinique,.... because they were not in numerical form).

### Now we create the new dataframe.

In [171]:
def remove_nan(data):
    new_data = data.copy()
    boolean_df = pd.notnull(new_data[new_data.columns.tolist()[1:]])
    boolean_list = [any(row) for index, row in boolean_df.iterrows()]
    new_data = new_data[boolean_list]
    return new_data

In [213]:
def create_voting_data(data):
    data_index = ['Code Insee', 'NListe', 'Nuance Liste', 'Voix', '% Voix/Ins','% Voix/Exp']

    code_insee = 'Code Insee'
    nListe = 'NListe'
    nuance_liste = 'Nuance Liste'
    voix = 'Voix'
    voix_ins = '% Voix/Ins'
    voix_exp = '% Voix/Exp'

    voting_data = data[data_index] 
    counter = 1

    while True:
        new_nListe = nListe + '.' + str(counter)
        new_nuance_liste = nuance_liste + '.' + str(counter)
        new_voix = voix + '.' + str(counter)
        new_voix_ins = voix_ins + '.' + str(counter)
        new_voix_exp = voix_exp + '.' + str(counter)

        try: # condition to stop
            data[new_nListe] 
        except: 
            break

        new_data_index = ['Code Insee',new_nListe,new_nuance_liste, new_voix,new_voix_ins, new_voix_exp]
        new_data = data[new_data_index]
        new_data.columns = data_index
        voting_data = pd.concat([voting_data, new_data])
        counter += 1

    voting_data = remove_nan(voting_data)
    voting_data = voting_data.sort_index() 
    voting_data.index = range(0,len(voting_data))
    
    return voting_data

In [214]:
voting_data = create_voting_data(data)
voting_data.shape

(356621, 6)

### Once we have a clean list, we will divide it into 3 groups corresponding to the 3 political orienatations: Left, Right and Extreme Right

In [258]:
list(set(voting_data['Nuance Liste']))

['LDVG',
 'LDVD',
 'LECO',
 'LDLF',
 'LCOM',
 'LUDI',
 'LDIV',
 'LFN',
 'LFG',
 'LEXD',
 'LEXG',
 'LUD',
 'LREG',
 'LUG',
 'LSOC',
 'LVEG',
 'LMDM',
 'LRDG',
 'LLR',
 'LVEC']

In [259]:
left_party = ['LDVG', 'LCOM', 'LFG', 'LEXG','LSOC','LVEG','LREG','LUG']
right_party = ['LDVD','LDLF', 'LUDI','LUD','LMDM', 'LRDG','LLR'] 
er_party = ['LFN','LEXD',] 
other_party = ['LECO','LDIV', 'LVEC']

In [263]:
left_party_vote = voting_data[voting_data['Nuance Liste'].isin(left_party)]
left_party_vote.index = range(0, len(left_party_vote))
                              
right_party_vote = voting_data[voting_data['Nuance Liste'].isin(right_party)]
right_party_vote.index = range(0, len(right_party_vote))
                               
er_party_vote = voting_data[voting_data['Nuance Liste'].isin(er_party)]
er_party_vote.index = range(0, len(er_party_vote))
                            
other_party_vote = voting_data[voting_data['Nuance Liste'].isin(other_party)]
other_party_vote.index = range(0, len(other_party_vote))

### We export these dataframes to excel files

In [264]:
writer = pd.ExcelWriter('left_party_vote.xlsx')
left_party_vote.to_excel(writer,'Sheet1')
writer.save()

In [265]:
writer = pd.ExcelWriter('right_party_vote.xlsx')
right_party_vote.to_excel(writer,'Sheet1')
writer.save()

In [266]:
writer = pd.ExcelWriter('er_party_vote.xlsx')
er_party_vote.to_excel(writer,'Sheet1')
writer.save()