In [127]:
import pandas as pd
import numpy as np
import geopandas

In [128]:
iris_talence_latlon = geopandas.GeoDataFrame.from_file('original_data/iris/iris_talence.js')
iris_talence_latlon.head()

,DCOMIRIS,DEPCOM,IRIS,NOM_COM,NOM_IRIS,TYP_IRIS,geometry
0,335220112,33522,0112,Talence,Thouars 2,H,POLYGON ((-0.587543196053298 44.78908756888363...
1,335220102,33522,0102,Talence,La Fauvette,H,POLYGON ((-0.587032337621043 44.81515751477936...
2,335220108,33522,0108,Talence,Peylanne-Leysotte,H,POLYGON ((-0.5828804443461369 44.8048544065047...
3,335220103,33522,0103,Talence,Combattants-Bijou,H,POLYGON ((-0.590734733544139 44.78731246999818...
4,335220105,33522,0105,Talence,Cauderes,H,POLYGON ((-0.587032337621043 44.81515751477936...

In [129]:
activite_resident = pd.read_excel('original_data/iris/activite-residents-2012.xls', skiprows=5)
logement = pd.read_excel('original_data/iris/logement-2012.xls', skiprows=5)
struct_pop = pd.read_excel('original_data/iris/struct-pop-2012.xls', skiprows=5)

In [130]:
activite_resident.head(1)

,IRIS,REG,REG2016,DEP,UU2010,COM,LIBCOM,TRIRIS,GRD_QUART,LIBIRIS,...,P12_ACTOCC15P_ILT3,P12_ACTOCC15P_ILT4,P12_ACTOCC15P_ILT5,P12_ACTOCC15P_ILT45D,C12_ACTOCC15P,C12_ACTOCC15P_PAS,C12_ACTOCC15P_MAR,C12_ACTOCC15P_DROU,C12_ACTOCC15P_VOIT,C12_ACTOCC15P_TCOM
0,010010000,82,84,01,01000,01001,L'Abergement-Clémenciat,ZZZZZZ,0100100,L'Abergement-Clémenciat (commune non irisée),...,83.676923,14.942308,0,NaN,338.692308,31.876923,7.969231,3.984615,290.876923,3.984615

In [131]:
logement.head(1)

,IRIS,REG,REG2016,DEP,UU2010,COM,LIBCOM,TRIRIS,GRD_QUART,LIBIRIS,...,P12_RP_CLIM,P12_RP_TTEGOU,P12_RP_GARL,P12_RP_VOIT1P,P12_RP_VOIT1,P12_RP_VOIT2P,P12_RP_HABFOR,P12_RP_CASE,P12_RP_MIBOIS,P12_RP_MIDUR
0,010010000,82,84,01,01000,01001,L'Abergement-Clémenciat,ZZZZZZ,0100100,L'Abergement-Clémenciat (commune non irisée),...,NaN,NaN,258.003846,289.880769,113.561538,176.319231,NaN,NaN,NaN,NaN

In [132]:
struct_pop.head(1)

,IRIS,REG,REG2016,DEP,UU2010,COM,LIBCOM,TRIRIS,GRD_QUART,LIBIRIS,...,C12_F15P_CS4,C12_F15P_CS5,C12_F15P_CS6,C12_F15P_CS7,C12_F15P_CS8,P12_POP_FR,P12_POP_ETR,P12_POP_IMM,P12_PMEN,P12_PHORMEN
0,010010000,82,84,01,01000,01001,L'Abergement-Clémenciat,ZZZZZZ,0100100,L'Abergement-Clémenciat (commune non irisée),...,59.769231,95.630769,7.969231,75.707692,39.846154,757.076923,19.923077,28.888462,777,0

In [133]:
def merge_df(list_df):
    new_list = []
    for df in list_df:
        new_list.append(df.drop(df.columns[1:13],axis=1))
    #new_list = [df.drop(df.columns[1:13],axis=1,inplace=True) for df in new_list]
    #print new_list
    new_df = reduce(lambda left,right: pd.merge(left,right,on="IRIS",how="inner"),new_list)
    return new_df

In [134]:
talence_data = merge_df([activite_resident,logement,struct_pop])

In [135]:
talence_data.head()

,IRIS,P12_POP1564,P12_POP1524,P12_POP2554,P12_POP5564_x,P12_H1564,P12_H1524,P12_H2554,P12_H5564,P12_F1564,...,C12_F15P_CS4,C12_F15P_CS5,C12_F15P_CS6,C12_F15P_CS7,C12_F15P_CS8,P12_POP_FR,P12_POP_ETR,P12_POP_IMM,P12_PMEN_y,P12_PHORMEN
0,010010000,472.176923,66.742308,307.811538,97.623077,243.061538,34.865385,161.376923,46.819231,229.115385,...,59.769231,95.630769,7.969231,75.707692,39.846154,757.076923,19.923077,28.888462,777.000000,0.000000
1,010020000,149.636752,18.076923,102.435897,29.123932,76.324786,7.029915,54.230769,15.064103,73.311966,...,24.102564,8.034188,0.000000,36.153846,8.034188,231.987179,3.012821,5.021368,235.000000,0.000000
2,010040101,1281.174286,315.027350,731.526735,234.620201,717.553038,207.391080,398.345337,111.816621,563.621248,...,71.288414,157.930182,29.397359,238.548987,196.091458,1629.550188,293.261001,331.005035,1601.820314,320.990875
3,010040102,2424.106193,563.249726,1479.704121,381.152347,1205.925178,236.796918,772.230671,196.897589,1218.181015,...,191.663500,401.870543,146.036490,362.850925,362.104358,3301.087899,458.072926,548.365386,3759.160825,0.000000
4,010040201,2279.455303,452.316047,1476.964939,350.174317,1058.473036,199.273891,690.872218,168.326927,1220.982267,...,204.326799,431.387614,135.692909,545.813431,276.835883,3550.788372,235.194698,316.995535,3693.980859,92.002210

In [136]:
import unicodedata

def unicode_to_string(word):
    if type(word) == str:
        return word
    elif pd.isnull(word):
        return 
    else:
        return unicodedata.normalize('NFKD', word).encode('ascii','ignore')
    
def data_to_string(data):
    new_data = data.copy()
    
    col_title_unicode = new_data.columns.values.tolist()
    col_title = map(unicode_to_string,col_title_unicode) 
    new_data.columns = col_title
    
    for col in new_data.columns:
        not_nan_index = [not ind for ind in new_data[col].isnull()]
        not_nan_value = new_data[col][not_nan_index]
        if type(not_nan_value.iloc[0]) == unicode: #check the first not-NaN value
            new_data[col] = map(unicode_to_string,new_data[col])
            
    return new_data

In [137]:
def rename_column(data): 
    new_data = data.copy()
    col_title = new_data.columns.tolist()
    for x in xrange(len(col_title)):
        if col_title[x] == 'IRIS':
            col_title[x] = 'DCOMIRIS' # this will be the pivot column for merging
        if col_title[x] == 'LIBIRIS':
            col_title[x] = 'NOM_IRIS'
        if col_title[x] == "COM":
            col_title[x] = "DEPCOM"
        if col_title[x] == "LIBCOM": 
            col_title[x] = "NOM_COM"
    new_data.columns = col_title
    return new_data

In [138]:
def to_digit(string):
    new_string = list(string)[:]
    for x in xrange(len(new_string)): 
        if not new_string[x].isdigit():
            new_string[x] = '0'
    return int(''.join(new_string))

def convert_code(data): # convert code from str to int and replace 2AXXX or 2BXXX by 20XXX 
        new_data = data.copy()

        iris_list = new_data['DCOMIRIS'].tolist() 
        new_iris_list = [int(code) if code.isdigit() else to_digit(code) for code in iris_list]
        new_data['DCOMIRIS'] = new_iris_list
        
        #depcom_list = new_data['DEPCOM'].tolist() 
        #new_depcom_list = [int(code) if code.isdigit() else to_digit(code) for code in depcom_list]
        #new_data['DEPCOM'] = new_depcom_list

        return new_data

In [139]:
def float_to_int(data):
    new_data = data.copy()    
    for col in new_data.columns:
        not_nan_index = [not ind for ind in new_data[col].isnull()]
        not_nan_value = new_data[col][not_nan_index]
        if type(not_nan_value.iloc[0]) == np.float64: #check the first not-NaN value
            new_data[col] = new_data[col].round()
    return new_data

In [140]:
iris_talence_latlon = data_to_string(iris_talence_latlon)
iris_talence_latlon = convert_code(iris_talence_latlon)

In [141]:
talence_data = data_to_string(talence_data)
talence_data = rename_column(talence_data)

In [142]:
talence_data = convert_code(talence_data)
talence_data = float_to_int(talence_data)

In [143]:
def extract_df(data, variable_list, variable_name):
    new_data = data.copy()
    new_data = new_data.loc[:,variable_list]
    
    new_data.columns = variable_name
    return new_data

In [144]:
variable_act_resident = ['DCOMIRIS','P12_POP1564','C12_ACT1564','C12_ACT1564_CS1','C12_ACT1564_CS2',
                 'C12_ACT1564_CS3','C12_ACT1564_CS4','C12_ACT1564_CS5','C12_ACT1564_CS6','P12_CHOM1564','P12_RETR1564']
variable_logement = ['P12_NPER_RP','P12_NPER_RP_PROP']
variable_struct_pop = ['P12_POP','P12_POP_IMM']

variable_list = list(variable_act_resident+variable_logement+variable_struct_pop)
variable_name = ['DCOMIRIS', 'Population', 'Actifs','Agriculteurs','Artisans','Cadres',
                'Prof_intermediaires','Employes', 'Ouvriers','Chomeurs','Retraites','Personnes_res_prin','Proprietaire',
                'Population_2012','Immigrant']
act_resident = extract_df(talence_data, variable_list, variable_name)

In [145]:
act_resident.head()

,DCOMIRIS,Population,Actifs,Agriculteurs,Artisans,Cadres,Prof_intermediaires,Employes,Ouvriers,Chomeurs,Retraites,Personnes_res_prin,Proprietaire,Population_2012,Immigrant
0,10010000,472,375,16,4,80,88,116,68,30,60,777,650,777,29
1,10020000,150,116,0,4,20,52,8,32,9,16,235,196,235,5
2,10040101,1281,804,0,27,67,189,273,236,106,122,1602,776,1923,331
3,10040102,2424,1815,0,72,104,353,544,698,341,178,3759,1013,3759,548
4,10040201,2279,1774,0,46,198,397,582,513,253,181,3694,1416,3786,317

In [146]:
act_resident[act_resident.DCOMIRIS == 335220112]

,DCOMIRIS,Population,Actifs,Agriculteurs,Artisans,Cadres,Prof_intermediaires,Employes,Ouvriers,Chomeurs,Retraites,Personnes_res_prin,Proprietaire,Population_2012,Immigrant
16695,335220112,1276,883,0,21,161,237,253,200,214,76,1762,654,1762,172

In [147]:
talence_iris_data = pd.merge(iris_talence_latlon, act_resident, on="DCOMIRIS", how="inner")

In [148]:
talence_iris_data.head()

,DCOMIRIS,DEPCOM,IRIS,NOM_COM,NOM_IRIS,TYP_IRIS,geometry,Population,Actifs,Agriculteurs,...,Cadres,Prof_intermediaires,Employes,Ouvriers,Chomeurs,Retraites,Personnes_res_prin,Proprietaire,Population_2012,Immigrant
0,335220112,33522,0112,Talence,Thouars 2,H,POLYGON ((-0.587543196053298 44.78908756888363...,1276,883,0,...,161,237,253,200,214,76,1762,654,1762,172
1,335220102,33522,0102,Talence,La Fauvette,H,POLYGON ((-0.587032337621043 44.81515751477936...,2824,1860,0,...,498,625,471,177,219,126,3868,1807,3868,269
2,335220108,33522,0108,Talence,Peylanne-Leysotte,H,POLYGON ((-0.5828804443461369 44.8048544065047...,2635,1837,0,...,501,584,506,135,200,205,3566,1580,3728,249
3,335220103,33522,0103,Talence,Combattants-Bijou,H,POLYGON ((-0.590734733544139 44.78731246999818...,2655,871,5,...,171,229,276,106,243,45,2597,420,3019,669
4,335220105,33522,0105,Talence,Cauderes,H,POLYGON ((-0.587032337621043 44.81515751477936...,2258,1578,5,...,501,544,297,148,125,147,3348,2027,3349,131

In [16]:
def calculate_percentage(data, population, variable_list): 
    new_data = data.copy()
    for variable in variable_list:
        new_data[variable] = 100.0*new_data[variable]/data[population]
    return new_data

In [154]:
variable_list = ['Agriculteurs','Artisans','Cadres','Prof_intermediaires','Employes','Ouvriers','Chomeurs','Retraites']
population_variable = 'Population'
talence_iris_data = calculate_percentage(talence_iris_data, population_variable, variable_list)

In [149]:
variable_list = ['Proprietaire']
population_variable = 'Personnes_res_prin'
talence_iris_data = calculate_percentage(talence_iris_data, population_variable, variable_list)

In [150]:
variable_list = ['Immigrant']
population_variable = 'Population_2012'
talence_iris_data = calculate_percentage(talence_iris_data, population_variable, variable_list)

In [151]:
talence_iris_data.drop(['Actifs','Personnes_res_prin','Population_2012'], axis=1, inplace=True)

In [155]:
talence_iris_data.head()

,DCOMIRIS,DEPCOM,IRIS,NOM_COM,NOM_IRIS,TYP_IRIS,geometry,Population,Agriculteurs,Artisans,Cadres,Prof_intermediaires,Employes,Ouvriers,Chomeurs,Retraites,Proprietaire,Immigrant
0,335220112,33522,0112,Talence,Thouars 2,H,POLYGON ((-0.587543196053298 44.78908756888363...,1276,0.000000,1.645768,12.617555,18.573668,19.827586,15.673981,16.771160,5.956113,37.116913,9.761635
1,335220102,33522,0102,Talence,La Fauvette,H,POLYGON ((-0.587032337621043 44.81515751477936...,2824,0.000000,2.443343,17.634561,22.131728,16.678470,6.267705,7.754958,4.461756,46.716649,6.954498
2,335220108,33522,0108,Talence,Peylanne-Leysotte,H,POLYGON ((-0.5828804443461369 44.8048544065047...,2635,0.000000,2.922201,19.013283,22.163188,19.203036,5.123340,7.590133,7.779886,44.307347,6.679185
3,335220103,33522,0103,Talence,Combattants-Bijou,H,POLYGON ((-0.590734733544139 44.78731246999818...,2655,0.188324,0.903955,6.440678,8.625235,10.395480,3.992467,9.152542,1.694915,16.172507,22.159656
4,335220105,33522,0105,Talence,Cauderes,H,POLYGON ((-0.587032337621043 44.81515751477936...,2258,0.221435,3.498671,22.187777,24.092117,13.153233,6.554473,5.535872,6.510186,60.543608,3.911615

In [156]:
talence_iris_data = geopandas.GeoDataFrame(talence_iris_data)
talence_iris_data.to_file('result/talence_iris_data', driver="ESRI Shapefile")

WARNING:Fiona:CPLE_NotSupported in Normalized/laundered field name: 'Agriculteurs' to 'Agriculteu'
WARNING:Fiona:CPLE_NotSupported in Normalized/laundered field name: 'Prof_intermediaires' to 'Prof_inter'
WARNING:Fiona:CPLE_NotSupported in Normalized/laundered field name: 'Proprietaire' to 'Proprietai'