In [1]:
import numpy as np
import pandas as pd

In [15]:
data = pd.read_excel('municipal2014_tour1.xlsx')

In [18]:
len(data.columns.tolist())

1106

In [20]:
data.head()

,Date de l'export,Code du département,Type de scrutin,Libellé du département,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,...,Sexe.98,Nom.98,Prénom.98,Liste.98,Sièges / Elu.98,Sièges Secteur.98,Sièges CC.98,Voix.98,% Voix/Ins.98,% Voix/Exp.98
0,2014-03-25 12:50:21,1,LI2,AIN,4,Ambérieu-en-Bugey,8198,3422,41.74,4776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-03-25 12:50:21,1,LI2,AIN,5,Ambérieux-en-Dombes,1159,497,42.88,662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-03-25 12:50:21,1,LI2,AIN,7,Ambronay,1770,511,28.87,1259,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-03-25 12:50:21,1,LI2,AIN,10,Anglefort,707,154,21.78,553,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-03-25 12:50:21,1,LI2,AIN,14,Arbent,2167,1061,48.96,1106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import unicodedata

def unicode_to_string(word):
    if pd.isnull(word):
        return 
    else:
        return unicodedata.normalize('NFKD', word).encode('ascii','ignore')

In [27]:
col_title_unicode = data.columns.values.tolist()
col_title = map(unicode_to_string,col_title_unicode)
data.columns = col_title

In [37]:
def data_to_string(data):
    new_data = data.copy()
    for col in new_data.columns:
        not_nan_index = [not ind for ind in new_data[col].isnull()]
        not_nan_value = new_data[col][not_nan_index]
        if type(not_nan_value.iloc[0]) == unicode: #check the first not-NaN value
            new_data[col] = map(unicode_to_string,new_data[col])
    return new_data

In [36]:
data = data_to_string(data)

TypeError: must be unicode, not int

In [38]:
def check_nan_in_numeric(data):
    new_data = data.copy()
    for col in new_data.columns:
        not_nan_index = [not ind for ind in new_data[col].isnull()]
        not_nan_value = new_data[col][not_nan_index]
        if type(not_nan_value.iloc[0]) is not str : #check the first not-NaN value to eliminate all string column
            if new_data[col].isnull().any(): 
                print col