In [58]:
import pandas as pd
import numpy as np

In [59]:
salary_data = pd.read_excel("salaire.xls", skiprows=5)
immigration_data = pd.read_excel("immigration.xls", skiprows=10)
population_data = pd.read_excel("population.xls", skiprows=5)

In [60]:
education_data = pd.read_excel("education.xls", skiprows=5)

In [61]:
population_data.head()

,CODGEO,REG,DEP,LIBGEO,P12_POP,P12_POP0014,P12_POP1529,P12_POP3044,P12_POP4559,P12_POP6074,...,C12_POP2554_CS8,C12_POP55P,C12_POP55P_CS1,C12_POP55P_CS2,C12_POP55P_CS3,C12_POP55P_CS4,C12_POP55P_CS5,C12_POP55P_CS6,C12_POP55P_CS7,C12_POP55P_CS8
0,01001,82,01,L'Abergement-Clémenciat,777,178.311538,96.626923,165.361538,151.415385,127.507692,...,0.000000,223.138462,0,0.000000,15.938462,3.984615,19.923077,11.953846,163.369231,7.969231
1,01002,82,01,L'Abergement-de-Varey,235,44.188034,35.149573,60.256410,38.162393,36.153846,...,8.034188,72.307692,0,0.000000,0.000000,0.000000,0.000000,8.034188,64.273504,0.000000
2,01004,82,01,Ambérieu-en-Bugey,14233,3038.170256,2904.179173,2722.455044,2654.512871,1736.820599,...,603.376956,3705.089624,0,35.239689,82.485971,171.235132,177.352662,172.307068,2815.621020,250.848082
3,01005,82,01,Ambérieux-en-Dombes,1642,338.357673,300.762376,347.502475,358.679455,203.217822,...,28.450495,398.306931,0,8.128713,8.128713,8.128713,8.128713,12.193069,321.084158,32.514851
4,01006,82,01,Ambléon,110,11.785714,17.678571,23.571429,26.517857,19.642857,...,7.857143,51.071429,0,0.000000,0.000000,7.857143,7.857143,0.000000,35.357143,0.000000

In [62]:
education_data.head()

,CODGEO,REG,DEP,LIBGEO,P12_POP0205,P12_POP0610,P12_POP1114,P12_POP1517,P12_POP1824,P12_POP2529,...,P12_HNSCOL15P_BACP2,P12_HNSCOL15P_SUP,P12_FNSCOL15P,P12_FNSCOL15P_DIPL0,P12_FNSCOL15P_CEP,P12_FNSCOL15P_BEPC,P12_FNSCOL15P_CAPBEP,P12_FNSCOL15P_BAC,P12_FNSCOL15P_BACP2,P12_FNSCOL15P_SUP
0,01001,82,01,L'Abergement-Clémenciat,50.803846,57.776923,48.811538,29.884615,36.857692,29.884615,...,38.850000,26.896154,272.946154,31.876923,44.826923,18.926923,59.769231,47.815385,44.826923,24.903846
1,01002,82,01,L'Abergement-de-Varey,13.055556,21.089744,7.029915,5.021368,13.055556,17.072650,...,18.076923,16.068376,86.367521,10.042735,8.034188,6.025641,14.059829,10.042735,20.085470,18.076923
2,01004,82,01,Ambérieu-en-Bugey,871.766842,951.645675,757.537256,518.345962,1289.297115,1096.536096,...,685.093263,478.174167,5208.021782,959.759727,646.969549,352.358572,1133.660715,923.001262,641.220416,551.051541
3,01005,82,01,Ambérieux-en-Dombes,87.383663,106.689356,101.608911,77.222772,133.107673,90.431931,...,56.900990,50.804455,585.267327,88.399752,86.367574,50.804455,130.059406,98.560644,80.271040,50.804455
4,01006,82,01,Ambléon,1.964286,3.928571,2.946429,6.875000,3.928571,6.875000,...,2.946429,3.928571,45.178571,7.857143,3.928571,7.857143,8.839286,10.803571,2.946429,2.946429

### First, as usual, we convert unicode to string.

In [63]:
import unicodedata

def unicode_to_string(word):
    if pd.isnull(word):
        return 
    else:
        return unicodedata.normalize('NFKD', word).encode('ascii','ignore')
    
def data_to_string(data):
    new_data = data.copy()
    
    col_title_unicode = new_data.columns.values.tolist()
    col_title = map(unicode_to_string,col_title_unicode)
    new_data.columns = col_title
    
    for col in new_data.columns:
        not_nan_index = [not ind for ind in new_data[col].isnull()]
        not_nan_value = new_data[col][not_nan_index]
        if type(not_nan_value.iloc[0]) == unicode: #check the first not-NaN value
            new_data[col] = map(unicode_to_string,new_data[col])
            
    return new_data

In [64]:
salary_data = data_to_string(salary_data)
immigration_data = data_to_string(immigration_data)
population_data = data_to_string(population_data)
education_data = data_to_string(education_data)

### Now we will rename the column headers so that we have at least 1 common column for all the data frames.

In [65]:
def rename_column(data): 
    new_data = data.copy()
    col_title = new_data.columns.tolist()
    for x in xrange(len(col_title)):
        if col_title[x] == 'CODGEO':
            col_title[x] = 'Code Insee' # this will be the pivot column for merging
        if col_title[x] == 'LIBGEO':
            col_title[x] = 'Libelle de la commune'
    new_data.columns = col_title
    return new_data

In [66]:
salary_data = rename_column(salary_data)
immigration_data = rename_column(immigration_data)
population_data = rename_column(population_data)
education_data = rename_column(education_data)

### We still have problem with departemental code of Corse because they are not in numerical form (2A... or 2B...).

In [67]:
def to_digit(string):
    new_string = list(string)[:]
    for x in xrange(len(new_string)): 
        if not new_string[x].isdigit():
            new_string[x] = '0'
    return int(''.join(new_string))

In [68]:
def replace_insee_code(data): #replace 2AXXX or 2BXXX by 20XXX 
        new_data = data.copy()
        insee_list = new_data['Code Insee'].tolist() 
        new_insee_list = [int(code) if code.isdigit() else to_digit(code) for code in insee_list]
        new_data['Code Insee'] = new_insee_list
        return new_data

In [69]:
salary_data = replace_insee_code(salary_data)
immigration_data = replace_insee_code(immigration_data)
population_data = replace_insee_code(population_data)
education_data = replace_insee_code(education_data)

### There is still another problem: all the numbers in our excel sheet are read in float format. We need to convert them to int for the immigration and population data because they contain quantity-format data.

In [70]:
def float_to_int(data):
    new_data = data.copy()    
    for col in new_data.columns:
        not_nan_index = [not ind for ind in new_data[col].isnull()]
        not_nan_value = new_data[col][not_nan_index]
        if type(not_nan_value.iloc[0]) == np.float64: #check the first not-NaN value
            new_data[col] = new_data[col].round()
    return new_data

In [71]:
immigration_data = float_to_int(immigration_data)
population_data = float_to_int(population_data)
education_data = float_to_int(education_data)

### In immigration data, we will add a column which shows us the percentage of adult immigrants  in each town.

In [72]:
def add_total_immigrant_variable(data): 
    new_data = data.copy()
    variable_list = []
    sum_list = []
    for variable in data.columns.tolist(): 
        if 'IMMI' in variable and 'AGE400' not in variable: 
            sum_list.append(variable)
            if 'IMMI1' in variable:
                variable_list.append(variable)
    new_data['% immigrant'] = (new_data[variable_list].sum(axis=1)/ new_data[sum_list].sum(axis=1)) * 100
    col = new_data.columns.tolist()
    col = col[:2] + col[-1:] + col[2:-1]
    new_data = new_data[col]
    return new_data

In [73]:
immigration_data = add_total_immigrant_variable(immigration_data)

In [74]:
immigration_data.head()

,Code Insee,Libelle de la commune,% immigrant,AGE400_IMMI1_SEXE1,AGE400_IMMI1_SEXE2,AGE400_IMMI2_SEXE1,AGE400_IMMI2_SEXE2,AGE415_IMMI1_SEXE1,AGE415_IMMI1_SEXE2,AGE415_IMMI2_SEXE1,AGE415_IMMI2_SEXE2,AGE425_IMMI1_SEXE1,AGE425_IMMI1_SEXE2,AGE425_IMMI2_SEXE1,AGE425_IMMI2_SEXE2,AGE455_IMMI1_SEXE1,AGE455_IMMI1_SEXE2,AGE455_IMMI2_SEXE1,AGE455_IMMI2_SEXE2
0,1001,L'Abergement-Clemenciat,4.173623,1,3,92,83,1,0,34,32,7,9,154,137,5,3,101,116
1,1002,L'Abergement-de-Varey,2.105263,0,1,25,18,1,0,6,11,2,1,52,47,0,0,38,32
2,1004,Amberieu-en-Bugey,12.048946,57,53,1386,1542,73,61,802,872,442,403,2447,2386,194,176,1454,1886
3,1005,Amberieux-en-Dombes,4.528012,0,0,176,163,0,2,108,101,18,19,334,324,11,9,182,195
4,1006,Ambleon,8.000000,2,1,5,4,0,0,8,3,2,3,23,19,0,3,18,21

### In education data, we convert the data to percentage.

In [75]:
education_data.columns.tolist()

['Code Insee',
 'REG',
 'DEP',
 'Libelle de la commune',
 'P12_POP0205',
 'P12_POP0610',
 'P12_POP1114',
 'P12_POP1517',
 'P12_POP1824',
 'P12_POP2529',
 'P12_POP30P',
 'P12_SCOL0205',
 'P12_SCOL0610',
 'P12_SCOL1114',
 'P12_SCOL1517',
 'P12_SCOL1824',
 'P12_SCOL2529',
 'P12_SCOL30P',
 'P12_H0205',
 'P12_H0610',
 'P12_H1114',
 'P12_H1517',
 'P12_H1824',
 'P12_H2529',
 'P12_H30P',
 'P12_HSCOL0205',
 'P12_HSCOL0610',
 'P12_HSCOL1114',
 'P12_HSCOL1517',
 'P12_HSCOL1824',
 'P12_HSCOL2529',
 'P12_HSCOL30P',
 'P12_F0205',
 'P12_F0610',
 'P12_F1114',
 'P12_F1517',
 'P12_F1824',
 'P12_F2529',
 'P12_F30P',
 'P12_FSCOL0205',
 'P12_FSCOL0610',
 'P12_FSCOL1114',
 'P12_FSCOL1517',
 'P12_FSCOL1824',
 'P12_FSCOL2529',
 'P12_FSCOL30P',
 'P12_NSCOL15P',
 'P12_NSCOL15P_DIPL0',
 'P12_NSCOL15P_CEP',
 'P12_NSCOL15P_BEPC',
 'P12_NSCOL15P_CAPBEP',
 'P12_NSCOL15P_BAC',
 'P12_NSCOL15P_BACP2',
 'P12_NSCOL15P_SUP',
 'P12_HNSCOL15P',
 'P12_HNSCOL15P_DIPL0',
 'P12_HNSCOL15P_CEP',
 'P12_HNSCOL15P_BEPC',
 'P12_HNSCOL15P_CAPBEP',
 'P12_HNSCOL15P_BAC',
 'P12_HNSCOL15P_BACP2',
 'P12_HNSCOL15P_SUP',
 'P12_FNSCOL15P',
 'P12_FNSCOL15P_DIPL0',
 'P12_FNSCOL15P_CEP',
 'P12_FNSCOL15P_BEPC',
 'P12_FNSCOL15P_CAPBEP',
 'P12_FNSCOL15P_BAC',
 'P12_FNSCOL15P_BACP2',
 'P12_FNSCOL15P_SUP']

In [76]:
def education_level_in_percentage(data):
    new_data = data.copy()
    variable_list = ['Code Insee', 'Libelle de la commune']
    for variable in new_data.columns.tolist(): 
        if '_NSCOL15P_' in variable:
            variable_list.append(variable)
    for chosen_variable in variable_list[2:]:
        new_data[chosen_variable] = (new_data[chosen_variable] / new_data['P12_NSCOL15P']) * 100
        #new_data[chosen_variable] = new_data['P12_NSCOL15P'] - new_data[variable_list].sum(axis=1)
    return new_data[variable_list]

In [77]:
education_data = education_level_in_percentage(education_data)

In [78]:
education_data.head()

,Code Insee,Libelle de la commune,P12_NSCOL15P_DIPL0,P12_NSCOL15P_CEP,P12_NSCOL15P_BEPC,P12_NSCOL15P_CAPBEP,P12_NSCOL15P_BAC,P12_NSCOL15P_BACP2,P12_NSCOL15P_SUP
0,1001,L'Abergement-Clemenciat,14.000000,13.454545,5.818182,25.272727,16.909091,15.272727,9.454545
1,1002,L'Abergement-de-Varey,8.888889,6.666667,3.333333,22.222222,18.333333,21.111111,18.888889
2,1004,Amberieu-en-Bugey,17.637173,9.362333,5.783490,24.824518,19.110232,13.109244,10.173010
3,1005,Amberieux-en-Dombes,16.016949,12.033898,6.186441,29.491525,16.016949,11.610169,8.644068
4,1006,Ambleon,15.555556,7.777778,8.888889,32.222222,22.222222,6.666667,7.777778

### In population data, we will transform the social status columns from quantity to percentage too.

In [79]:
def social_status_percentage(data): 
    new_data = data.copy()
    status_list = ['C12_POP15P_CS1', 'C12_POP15P_CS2','C12_POP15P_CS3','C12_POP15P_CS4','C12_POP15P_CS5',
                   'C12_POP15P_CS6','C12_POP15P_CS7','C12_POP15P_CS8']
    adult_population = new_data['C12_POP15P']
    for col in status_list:
        new_data['% '+ col] = (new_data[col] / adult_population)*100
    return new_data

In [80]:
population_data = social_status_percentage(population_data)

In [81]:
population_data.head()

,Code Insee,REG,DEP,Libelle de la commune,P12_POP,P12_POP0014,P12_POP1529,P12_POP3044,P12_POP4559,P12_POP6074,...,C12_POP55P_CS7,C12_POP55P_CS8,% C12_POP15P_CS1,% C12_POP15P_CS2,% C12_POP15P_CS3,% C12_POP15P_CS4,% C12_POP15P_CS5,% C12_POP15P_CS6,% C12_POP15P_CS7,% C12_POP15P_CS8
0,1001,82,01,L'Abergement-Clemenciat,777,178,97,165,151,128,...,163,8,2.588997,0.647249,12.944984,14.239482,18.770227,11.650485,27.022654,12.297735
1,1002,82,01,L'Abergement-de-Varey,235,44,35,60,38,36,...,64,0,0.000000,2.116402,10.582011,27.513228,4.232804,16.931217,33.862434,4.232804
2,1004,82,01,Amberieu-en-Bugey,14233,3038,2904,2722,2655,1737,...,2816,251,0.000000,2.818540,6.451324,15.595920,17.143880,17.197566,25.590551,15.211167
3,1005,82,01,Amberieux-en-Dombes,1642,338,301,348,359,203,...,321,33,0.000000,5.611068,8.147579,17.524981,18.139892,14.681015,25.288240,10.607225
4,1006,82,01,Ambleon,110,12,18,24,27,20,...,35,0,0.000000,0.000000,4.651163,18.604651,18.604651,9.302326,40.697674,9.302326

### Now we try to merge the 3 data frames: right_party_vote, immigration_data, salary_data

In [82]:
right_party_vote = pd.read_excel("right_party_vote.xlsx")
left_party_vote = pd.read_excel("left_party_vote.xlsx")
er_party_vote = pd.read_excel("er_party_vote.xlsx")

In [83]:
immigration_salary = pd.merge(immigration_data, salary_data, on = ['Code Insee','Libelle de la commune'], how = 'outer')

In [84]:
immigration_salary_population = pd.merge(population_data, immigration_salary, on = ['Code Insee','Libelle de la commune'], how = 'outer')

In [85]:
immigration_salary_population_education = pd.merge(education_data, immigration_salary_population, on = ['Code Insee','Libelle de la commune'], how = 'outer')

In [90]:
full_data_right = pd.merge(right_party_vote, immigration_salary_population_education, on = 'Code Insee', how = 'left')
full_data_left = pd.merge(left_party_vote, immigration_salary_population_education, on = 'Code Insee', how = 'left')
full_data_er = pd.merge(er_party_vote, immigration_salary_population_education, on = 'Code Insee', how = 'left')

In [93]:
full_data_right.head()

,Code Insee,Voix,% Voix/Ins,% Voix/Exp,% Abs/Ins,Libelle de la commune,P12_NSCOL15P_DIPL0,P12_NSCOL15P_CEP,P12_NSCOL15P_BEPC,P12_NSCOL15P_CAPBEP,...,SNHMHO12,SNHM1812,SNHM2612,SNHM5012,SNHMF1812,SNHMF2612,SNHMF5012,SNHMH1812,SNHMH2612,SNHMH5012
0,1001,107,18.32,33.44,44.69,L'Abergement-Clemenciat,14.000000,13.454545,5.818182,25.272727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1002,32,14.28,25.20,41.52,L'Abergement-de-Varey,8.888889,6.666667,3.333333,22.222222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1004,1096,13.45,29.76,53.34,Amberieu-en-Bugey,17.637173,9.362333,5.783490,24.824518,...,10.945976,9.724445,13.042454,15.461354,9.049192,11.33007,12.313855,10.194692,14.088531,17.557177
3,1005,168,14.38,31.22,52.23,Amberieux-en-Dombes,16.016949,12.033898,6.186441,29.491525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1006,22,20.56,42.31,49.53,Ambleon,15.555556,7.777778,8.888889,32.222222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
full_data_right.columns.tolist()

[u'Code Insee',
 u'Voix',
 u'% Voix/Ins',
 u'% Voix/Exp',
 u'% Abs/Ins',
 'Libelle de la commune',
 'P12_NSCOL15P_DIPL0',
 'P12_NSCOL15P_CEP',
 'P12_NSCOL15P_BEPC',
 'P12_NSCOL15P_CAPBEP',
 'P12_NSCOL15P_BAC',
 'P12_NSCOL15P_BACP2',
 'P12_NSCOL15P_SUP',
 'REG',
 'DEP',
 'P12_POP',
 'P12_POP0014',
 'P12_POP1529',
 'P12_POP3044',
 'P12_POP4559',
 'P12_POP6074',
 'P12_POP7589',
 'P12_POP90P',
 'P12_POPH',
 'P12_H0014',
 'P12_H1529',
 'P12_H3044',
 'P12_H4559',
 'P12_H6074',
 'P12_H7589',
 'P12_H90P',
 'P12_H0019',
 'P12_H2064',
 'P12_H65P',
 'P12_POPF',
 'P12_F0014',
 'P12_F1529',
 'P12_F3044',
 'P12_F4559',
 'P12_F6074',
 'P12_F7589',
 'P12_F90P',
 'P12_F0019',
 'P12_F2064',
 'P12_F65P',
 'P12_POP01P',
 'P12_POP01P_IRAN1',
 'P12_POP01P_IRAN2',
 'P12_POP01P_IRAN3',
 'P12_POP01P_IRAN4',
 'P12_POP01P_IRAN5',
 'P12_POP01P_IRAN6',
 'P12_POP01P_IRAN7',
 'P12_POP0114_IRAN2P',
 'P12_POP0114_IRAN2',
 'P12_POP0114_IRAN3P',
 'P12_POP1524_IRAN2P',
 'P12_POP1524_IRAN2',
 'P12_POP1524_IRAN3P',
 'P12_POP2554_IRAN2P',
 'P12_POP2554_IRAN2',
 'P12_POP2554_IRAN3P',
 'P12_POP55P_IRAN2P',
 'P12_POP55P_IRAN2',
 'P12_POP55P_IRAN3P',
 'C12_POP15P',
 'C12_POP15P_CS1',
 'C12_POP15P_CS2',
 'C12_POP15P_CS3',
 'C12_POP15P_CS4',
 'C12_POP15P_CS5',
 'C12_POP15P_CS6',
 'C12_POP15P_CS7',
 'C12_POP15P_CS8',
 'C12_H15P',
 'C12_H15P_CS1',
 'C12_H15P_CS2',
 'C12_H15P_CS3',
 'C12_H15P_CS4',
 'C12_H15P_CS5',
 'C12_H15P_CS6',
 'C12_H15P_CS7',
 'C12_H15P_CS8',
 'C12_F15P',
 'C12_F15P_CS1',
 'C12_F15P_CS2',
 'C12_F15P_CS3',
 'C12_F15P_CS4',
 'C12_F15P_CS5',
 'C12_F15P_CS6',
 'C12_F15P_CS7',
 'C12_F15P_CS8',
 'C12_POP1524',
 'C12_POP1524_CS1',
 'C12_POP1524_CS2',
 'C12_POP1524_CS3',
 'C12_POP1524_CS4',
 'C12_POP1524_CS5',
 'C12_POP1524_CS6',
 'C12_POP1524_CS7',
 'C12_POP1524_CS8',
 'C12_POP2554',
 'C12_POP2554_CS1',
 'C12_POP2554_CS2',
 'C12_POP2554_CS3',
 'C12_POP2554_CS4',
 'C12_POP2554_CS5',
 'C12_POP2554_CS6',
 'C12_POP2554_CS7',
 'C12_POP2554_CS8',
 'C12_POP55P',
 'C12_POP55P_CS1',
 'C12_POP55P_CS2',
 'C12_POP55P_CS3',
 'C12_POP55P_CS4',
 'C12_POP55P_CS5',
 'C12_POP55P_CS6',
 'C12_POP55P_CS7',
 'C12_POP55P_CS8',
 '% C12_POP15P_CS1',
 '% C12_POP15P_CS2',
 '% C12_POP15P_CS3',
 '% C12_POP15P_CS4',
 '% C12_POP15P_CS5',
 '% C12_POP15P_CS6',
 '% C12_POP15P_CS7',
 '% C12_POP15P_CS8',
 '% immigrant',
 'AGE400_IMMI1_SEXE1',
 'AGE400_IMMI1_SEXE2',
 'AGE400_IMMI2_SEXE1',
 'AGE400_IMMI2_SEXE2',
 'AGE415_IMMI1_SEXE1',
 'AGE415_IMMI1_SEXE2',
 'AGE415_IMMI2_SEXE1',
 'AGE415_IMMI2_SEXE2',
 'AGE425_IMMI1_SEXE1',
 'AGE425_IMMI1_SEXE2',
 'AGE425_IMMI2_SEXE1',
 'AGE425_IMMI2_SEXE2',
 'AGE455_IMMI1_SEXE1',
 'AGE455_IMMI1_SEXE2',
 'AGE455_IMMI2_SEXE1',
 'AGE455_IMMI2_SEXE2',
 'SNHM12',
 'SNHMC12',
 'SNHMP12',
 'SNHME12',
 'SNHMO12',
 'SNHMF12',
 'SNHMFC12',
 'SNHMFP12',
 'SNHMFE12',
 'SNHMFO12',
 'SNHMH12',
 'SNHMHC12',
 'SNHMHP12',
 'SNHMHE12',
 'SNHMHO12',
 'SNHM1812',
 'SNHM2612',
 'SNHM5012',
 'SNHMF1812',
 'SNHMF2612',
 'SNHMF5012',
 'SNHMH1812',
 'SNHMH2612',
 'SNHMH5012']

### Export the full data frame

In [95]:
writer = pd.ExcelWriter('full_data_right.xlsx')
full_data_right.to_excel(writer,'Sheet1')
writer.save()

In [96]:
writer = pd.ExcelWriter('full_data_left.xlsx')
full_data_left.to_excel(writer,'Sheet1')
writer.save()

In [97]:
writer = pd.ExcelWriter('full_data_er.xlsx')
full_data_er.to_excel(writer,'Sheet1')
writer.save()